<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Text Detector</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <h1>Welcome to the {Site Name}</h1>
    </nav>

    <h2>Test the text below</h2>

    <form class="input" action="process_form" method="POST">
      <textarea type="text" name="input" id="textarea"></textarea>

      <button id="submit">Check</button>
    </form>

    <h3 id="response"></h3>

    <script src="index.js"></script>
  </body>
</html>
